
@{
    ViewData["Title"] = "Destinos";
}

<h1>Destinos</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Partida</th>
        <th>Chegada</th>
        <th>Ida</th>
        <th>Volta</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Rio</td>
        <td>São Paulo</td>
        <td>11/11/2021</td>
        <td>21/11/2021</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Salvador</td>
        <td>Recife</td>
        <td>05/12/2021</td>
        <td>03/01/2022</td>
    </tr>
</table>

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>


